body {
    background-color: rgb(240, 244, 233);
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
}

.container-main {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
    justify-items: center;
    gap: 3em;
}

.card-img {
    position: relative;
    cursor: pointer;
    width: 12vh;
    height: 80vh;
    transition: ease .6s;
}

.card-img span{
    font-family: Helvetica, sans-serif;
    font-size: .8rem;
    color:rgb(243, 238, 232, .9);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    padding: .65em 10px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color:rgb(53, 54, 51, .65);
    width: calc(100% - 20px);
}

.active:hover span{
    visibility: visible;
}

img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

.active {
    width: 55vh;
}



