body {
    background-color: rgb(240, 244, 233);
    margin: 0;
}

.container-main {
    border: coral solid;
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 200px);
}

.grid-element {
    width: 100px;
}

img {
    width: 100%;
    display: block;
}

